.App {
	font-family: 'Inter', sans-serif;
	max-width: 1200px;
	width: 95vw;
	margin: 2% auto;

}

/* Navbar Component */
nav {
	border-radius: 10px;
	display: flex;
	justify-content: center;
	padding: 1.7em 2.4em;
	margin-bottom: 1em;
	box-shadow: 0px 2.98256px 7.4564px rgba(255, 82, 82, 0.397);
	background-color: #F55A5A;
}

h1 {
	color: white;
	margin: 0;
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: -0.015em;
	padding: 0.18em;
}

.nav-logo {
	height: 1.8em;
	padding: 0 1.5em;
}

/* Navbar Component */

/* Card Component */
.cards-list {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	background-color: #fffbf4;
	border-radius: 10px;
}

.card {
	color: #2B283A;
	display: flex;
	padding: 3em;
}

.card:not(:last-child) {
	box-shadow: 0px 45px 4px -45px #cacaca;
}

.card-image-div {
	margin-right: 3em;
}

.card-image-div img {
	width: 20vh;
	border-radius: 9px;
	margin-bottom: 9px;
}

.card-text-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-location {
	display: flex;
	align-items: center;
	max-height: 1em;
	text-align: center;
}

.grey {
	margin: 0;
}

.card-pin {
	height: 0.8em;
}

.location {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-left: 0.4em;
	padding-right: 1em;
}

a {
	text-decoration: underline;
	color: #918E9B;
	text-underline-offset: 2px;
}

.card-title {
	font-size: 2em;
	font-weight: 700;
	margin-top: 0.45em;
}

.card-date {
	font-weight: 700;
	font-size: 0.85em;
}

/* Card Component */

/* Footer Component */
footer {
	text-align: center;
	font-size: 1em;
	color: #ebf5ff;
	background-color: #1c5274;
	border-radius: 10px;
	margin-top: 1em;
	padding: 0.5em;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

footer p {
	padding: 0.7em 0;
	margin: 0;
}

footer a {
	text-decoration: none;
	color: #ffdfdf;
}

footer a:hover {
	filter: opacity(40%);
}

/* Footer Component */

@media only screen and (max-width: 600px) {
	.card {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 3em 2em;
	}

	.card-image-div {
		margin-right: 0;
		margin-bottom: 1em;
	}

	.card-image-div img {
		width: 55vw;
	}

	.card-location {
		justify-content: center;
	}

	.card-title {
		margin-top: 0.8em;
	}
}